<div class="panel panel-info">
  
  <div class="panel-heading" tag="{{ r.key().id() }}">
    <span class="pad">
      <i class="btn-grip fa fa-chevron-right"></i>
    </span>

    <span class="pad pull-right">
      <i class="btn-editi fa fa-pencil }}"></i>

      <i class="btn-removei fa fa-times"></i>
    </span>

    <span class="pad view">
      <span class="scheme" data-toggle="collapse" data-target="#group{{ r.key().id() }}">
        {{ r.name }}
      </span>
    </span>

    <span class="pad edit hide">
      <input  class="form-control input-sm" type="text" placeholder="Name" value="{{ r.name }}" name="name" />
    </span>
  </div>

  <div class="collapse in" id="group{{ r.key().id() }}">
    <div class="panel-body">
      {% for r in r.memberships %}
        {% include "templates/row.html" %}
      {% endfor %}
    </div>
  </div>

</div>