{% if not ms[0].group.name == 'None' %}
<div class="panel panel-info">
  
  <div class="panel-heading">
    
    <span class="header" data-toggle="collapse" href="#group{{ ms[0].scheme.group }}">
      <i class="fa fa-bars"></i>

      <span class="group cool-font">{{ ms[0].group.name }}</span>
    </span>

  </div>

  <div class="collapse in" id="group{{ ms[0].scheme.group }}">
{% endif %}
    <div class="panel-body sortableItem">

      {% for m in ms %}
        {% include "templates/row.html" %}
      {% endfor %}
    </div>
{% if not ms[0].group.name == 'None' %}
  </div>

</div>
{% endif %}