<html>
  <head>
    <meta charset="utf-8" />

    <title>Kudos</title>
    <link rel="shortcut icon" href="favicon.ico" />

    <link rel="stylesheet" type="text/css" href="css/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/Krona-One.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css">

    <link rel="stylesheet" type="text/css" href="css/main.css">

    <script type="text/javascript" src="js/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="js/jquery-ui.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/bootbox.min.js"></script>
    <script type="text/javascript" src="js/hc/highcharts.js"></script>
    
    <script type="text/javascript" src="js/main.js"></script>
  </head>
    
  <body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          <img src="img/favicon.png" /> Kudos
        </a>
      </div>

      <ul class="nav navbar-nav navbar-right">
        <li class="active message hide">
          <a href="#">
            <i class="fa fa-upload"></i>
          </a>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-plus"></i>
          </a>

          <ul id="add-menu" class="dropdown-menu" role="menu">
            {% include "templates/menu.html" %}
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-gear"></i>
          </a>
          <ul class="dropdown-menu">
            {% if user.is_admin %}
              <li><a href="/admin/">Admin Console</a></li>
            {% endif %}
            <li><a href="{{ user.logout_url }}">Logout</a></li>
          </ul>
        </li>
      </ul>
    </nav>

    <div class="main">
      <div id="root" class="outer rows">
        {% for r in user.profile.rows() %}
          {% include "templates/structure.html" %}
        {% endfor %}
      </div>
    </div>
  </body>
</html>