<html>
  <head>
    <meta charset="utf-8" />

    <title>Kudos</title>

    <link rel="stylesheet" type="text/css" href="styles/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="styles/Krona-One.css">
    <link rel="stylesheet" type="text/css" href="styles/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="styles/bootstrap-theme.min.css">

    <link rel="stylesheet" type="text/css" href="styles/main.css">

    <script type="text/javascript" src="scripts/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="scripts/jquery-ui.js"></script>
    <script type="text/javascript" src="scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="scripts/bootbox.min.js"></script>
    
    <script type="text/javascript" src="scripts/main.js"></script>

    <script type="text/javascript" src="scripts/hc/highcharts.js"></script>
    <script type="text/javascript" src="scripts/hc/modules/exporting.js"></script>
  </head>
    
  <body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          {{ auth_user.nickname() }}'s Kudos
        </a>
      </div>

      <ul class="nav navbar-nav navbar-right">
        <li class="active message hide">
          <a href="#">
            <i class="fa fa-upload"></i>
          </a>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-plus"></i>
          </a>

          <ul id="add-menu" class="dropdown-menu" role="menu">
            {% include "templates/menu.html" %}
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-gear"></i>
          </a>
          <ul class="dropdown-menu">
            <li><a href="{{ auth_url }}">Logout</a></li>
          </ul>
        </li>
      </ul>
    </nav>

    <div class="main">
      <div id="root" class="rows">
        {% for r in auth_acct.rows() %}
          {% if r.key.kind() == 'Membership' %}
            {% include "templates/row.html" %}
          {% else %}
            {% include "templates/group.html" %}
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </body>
</html>