<div class="panel panel-default">

  <div class="panel-heading">
    <i class="grip fa fa-chevron-right"></i>

    <span class="view {{ "hide" if not m.username }}">
      <span class="scheme" data-toggle="collapse" data-target="#row{{ m.key().id() }}">
        {{ m.scheme.name }}
      </span>

      <span>
        <span class="points">{{ m.points }}</span>

        <i class="fa fa-refresh"></i>
      </span>
    </span>

    <span class="edit {{ "hide" if m.username }}">
      <form class="form-inline" method="post" role="form">
        <span>
          <input name="name"
            placeholder="Name"
            value="{{ m.scheme.name }}"
            type="text"
            class="form-control input-sm" />
        </span>

        <span>
          <input name="username"
            placeholder="Username"
            value="{{ m.username }}" 
            type="text"
            class="form-control input-sm" />

          <input name="password"
            placeholder="Password"
            value="{{ m.password }}"
            type="password"
            class="form-control input-sm" />
        </span>
      </form>
    </span>

    <span tag="{{ m.key().id() }}">
      <i class="fa fa-pencil"></i>

      <i class="fa fa-times"></i>
    </span>
  </div>







  <div class="collapse" id="row{{ m.key().id() }}">

    <div class="panel-body">
      {% if m.username %}
        {{ m.content|safe }}
      {% else %}
        
      {% endif %}
    </div>

  </div>

</div>