body {
  margin:           20px;
  min-width:        760px;
}

i {
  color:            rgb(201, 201, 201);
  font-size:        16px;
  font-weight:      600 !important;
  margin:           0px 5px;
  width:            20px;
  text-align:       center;
}

i:hover {
  cursor:           pointer;
  color:            black;
}

.points, .scheme {
  margin:           0px 10px;
}

.scheme:hover {
  cursor:           pointer;
  text-decoration:  underline;
}

.panel {
  margin:           3px 0px;
}

.panel-heading {
  height:           52px;
}

.placeholder {
  border:           1px solid #fcefa1;
  background-color: #fbf9ee;
  color:            #363636;
  margin:           3px 0px;
}

.edit input {
  width:            200px;
  font-size:        14px;
  display:          inline;
  position:         relative;
  top:              -1px;
  left:             -1px;
}

.inner-pad input {
  margin-right:     5px;
}

.pad {
  display:          inline;
  line-height:      30px;
}

.inner-pad {
  display:          inline;
}






/*.cool-font {
  font-family: 'Krona One', sans-serif !important;
}*/

/*






/*

.group {
  font-style: italic;
  font-weight: bold;
}

.group, .scheme, .points {
  margin: 0px 15px;
}

.points {
  font-size: 18px;
}





.header {
  display: inline-block;
  margin-left: 10px !important;

  position: relative;
  top: 4px;
}



.placeholder {
  border: 1px solid #fcefa1;
  background-color: #fbf9ee;
  color: #363636;
  margin: 3px 0px;
}
*/