body {
  min-width:        800px;
  padding-top:      60px;
}

.rows,
.message,
.navbar-brand {
  font-family:      'Krona One', sans-serif !important;
}

.rows {
  margin:           20px;
}

.type {
  font-style:       italic !important;
  font-weight:      bold !important;
  text-decoration:  underline;
  padding-left:     10px;
}

.points,
.scheme {
  margin:           0px 10px;
}

.scheme:hover {
  cursor:           pointer;
  text-decoration:  underline;
}

.panel {
  margin:           3px 0px;
}

.panel-heading {
  height:           50px;
}

.placeholder {
  margin:           3px 0px;
  border:           1px solid #fcefa1;
  background-color: #fbf9ee;
  color:            #363636;
}

.pad {
  display:          inline;
  line-height:      30px;
}

.inner-pad {
  display:          inline;
}

.inner-pad input {
  margin-right:     5px;
}

i {
  color:            rgb(201, 201, 201);
  font-size:        16px;
  font-weight:      600 !important;
  margin:           0px 5px;
  width:            20px;
  text-align:       center;
}

i:hover {
  cursor:           pointer;
  color:            black;
}

.navbar i {
  font-size:        20px;
}

.edit input {
  width:            200px;
  font-size:        14px;
  display:          inline;
  position:         relative;
  top:              -1px;
  left:             -1px;
}

.chart {
   min-width:       310px;
   height:          400px;
   margin:          0 auto;
}